<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Edit Interest Rate(Regular) </h4>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
          </ul>
          <%=simple_form_for @interest_rate, url: :regular_interest_rate, remote: true do |f| %>
            <%=f.error_notification %>
            <%=f.input :rate, placeholder: "example: 0.035" %>
            <span class="help-block"> *Please enter a decimal value. </span>
            <div class="modal-footer">
              <%= link_to "Cancel", "#", class: "btn pull-left", data: {dismiss: "modal"} %>
              <%=f.submit "Update Rate", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
