<div class="tab-pane <%='active' if current_page? stock_histories_product_path %>">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Purchase Date</th>
        <th></th>
        <th>Qty </th>
        <th>Unit</th>
        <th> Sold </th>
        <th> In Stock </th>
        <th> S/N </th>
        <th> Unit Cost </th>
        <th> Discount </th>
        <th> Freight In </th>
        <th> Total Purchase </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%@stocks.each do |stock| %>
        <tr>
          <td><%=stock.date.strftime('%B %e, %Y')%></td>
          <td>
            <small class='label label-<%="danger" if stock.out_of_stock?%><%= "warning" if stock.low_stock? && !stock.expired?%><%= "danger" if !stock.low_stock? && stock.expired?%><%= "danger" if stock.expired_and_low_stock?%>'><%=stock.status %></small>
          </td>
          <td><%=stock.quantity %></td>
          <td><%=stock.product.unit %></td>
          <td><%=stock.sold %></td>
           <td><%=stock.in_stock %></td>
          <td><%=stock.serial_number %></td>
          <td><%= number_to_currency stock.unit_cost %></td>
          <td><%= number_to_currency stock.discount_amount %></td>
          <td><%= number_to_currency stock.freight_amount %></td>
          <td><%=number_to_currency stock.total_cost %></td>
          <td>
            <%= link_to stock_path(stock), method: :delete, title: 'Delete Stock', data: {confirm: 'Are you sure you want to delete this stock? This action can not be undone.'} do %>
              <span class="text-danger" title="Delete Stock" data-toggle='tooltip'><i class="fa fa-trash"></i></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="modal-footer">
    <center><%= paginate @stocks, :window => 1 %></center>
  </div>
</div>
