<%=simple_form_for @entry, remote: true do |f| %>
<%=f.error_notification %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">New Sales Entry </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <%=f.input :reference_number %>
            </div>
            <div class="col-md-6">
              <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>
            </div>
          </div>
          <%=f.input :description, as: :text, input_html: { value: "Cash Sales on #{Time.zone.now.strftime('%B %e, %Y')}"} %>
          <%=f.simple_fields_for :debit_amounts do |ff| %>
            <%=ff.input :amount, input_html: {value: @cash_sales }, as: :hidden %>
            <%=ff.input :account, input_html: { value: Accounting::Account.find_by(name: "Cash on Hand")}, readonly: true%>
          <% end %>
          <%=f.simple_fields_for :credit_amounts do |ff| %>
            <%=ff.input :amount, input_html: {value: @cash_sales }, readonly: true %>
            <%=ff.input :account, input_html: { value: Accounting::Account.find_by(name: "Sales")}, readonly: true %>
          <% end %>
          <div class="modal-footer">
            <%= f.submit 'Save Entry', class: "btn btn-primary" %>
            <span class="pull-left">
              <%=link_to 'Cancel', retail_orders_path, class: 'btn btn-default' %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>